<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="40548Wanderling.GridDice" Version="1.0.0.0" Publisher="CN=129B50F3-20BE-41E5-9F67-2065B0FB5316" />
  <Properties>
    <DisplayName>Grid Dice</DisplayName>
    <PublisherDisplayName>Wanderling</PublisherDisplayName>
    <Logo>images\logo-50.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="Grid Dice" Logo="images\logo-150.png" SmallLogo="images\logo-30.png" Description="Grid Dice" ForegroundText="light" BackgroundColor="#053f05">
        <DefaultTile ShowName="wideLogoOnly" WideLogo="images\logo-310x150.png" ShortName="Grid Dice" />
        <SplashScreen Image="images\splashscreen.png" BackgroundColor="#053f05" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>